body { width: 100%; height: 100%; }

.list1{
    text-decoration-line: none;
    background-color: peachpuff;
    position:static;
    top:20px;
    width:120px;
    height:90px;
    padding: 0 0 0 0;
    position:relative;
    left:-20px;
    float:right;
}

.header{
    display: table-cell;
    vertical-align: middle;
    position:static;
    left: 20px;
    top:20px;
    width:1000px;
    height:100px;
    color: white;
    background-color:darksalmon;
}
.list{
    text-decoration-line: none;
    background-color: antiquewhite;
    position:static;
    left: 20px;
    top:20px;
    width:120px;
    height:90px;
    padding: 0 0 0 0;
    
}
h3{
    padding: 0px;
    border: 0px;
    margin: 0px;
}
ul {
   padding: 0px;
   border: 0px;
   margin: 0px 
}

li {
    text-decoration-line: none;
list-style-type: none;
padding: 0px;
border: 0px;
margin: 0px
}

.foot {
background-color: chocolate;
}

#liniya { 
        width:110px; 
        height:100px; 
        float:left; 
        margin-left:15px; 
        }